.submit--button{
    margin-top: 30px;
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    background-color: transparent;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}
.submit--button:hover{
    background-color: green;
    color: white;
}
.table{
    border-collapse: collapse;
    margin: 20px 20vw;
    width: 60vw;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

th{
    padding: 20px;
    font-size: 1.3rem;
    cursor: default;
    color: white;
    background-color: rgb(78, 76, 76);
}
td{
    padding: 20px;
    font-size: 1.3rem;
}
tr{
    border-bottom: 1px solid lightgrey;
}
.accelerate{
    color: red;
    background-color: white;
    border: 3px solid red;
}
.accelerate:hover{
    color: white;
    border: 3px solid red;
    background-color: red;
}